@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --color-primary: #1D7AEB;
    --color-bg: #03499F;
    --color-content-bg: #FFFFFF;
    --color-gray: #696E76;
    --color-lightgray: #B0B4BB;
    --color-striped: #DFE2E5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    font-size: 12pt;
    font-family: 'Roboto', 'sans-serif';
}

body {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    background-color: var(--color-bg);
}

#container {
    width: 80vw;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10%;
}

#form {
    border-radius: 4px;

    padding: 32px 48px;
    background-color: var(--color-content-bg);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

#form h1 {
    margin-bottom: 24px;

    font-weight: 500;
    font-size: 24px;
}

#ioc-new {
    display: flex;
    flex-direction: column;

    gap: 24px;
}

#form input[type=text] {
    padding: 8px;

    border: 1px solid var(--color-gray);
    border-radius: 4px;
    font-size: 14px;
}

#form input[type=text]::placeholder {
    color: black;
}

#form .input-inline {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#form .input-inline input[type=text] {
    border-bottom-right-radius: 0;
    width: 100%;
}

#form .input-inline button {
    padding: 4px 6px;

    border: none;
    border-radius: 0 0 4px 4px;

    background-color: var(--color-primary);
    color: white;
    font-size: 12px;
    font-weight: bold;
}

#form input[type=submit] {
    padding: 8px;

    border: none;
    border-radius: 4px;

    background-color: var(--color-primary);
    color: white;
    font-size: 16px;
    font-weight: bold;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

#form input[type=submit]:hover, #form button:hover {
    background-color: var(--color-bg);
}

#table {
    width: 60%;
    height: 80vh;

    display: flex;
    flex-direction: column;

    padding: 0 24px;
    padding-bottom: 24px;

    background-color: var(--color-content-bg);
    font-size: 14px;

    overflow-y: auto;
}

#table h1 {
    padding-top: 24px;

    background-color: white;
}

#table .table-header, #table .table-row {
    display: grid;
    grid-template-columns: 6fr 4fr 11fr 5fr 32px;

    padding: 12px 12px;
}

#table .table-header {
    position: sticky;
    top: 0;

    padding-top: 12px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;

    border-bottom: 4px solid var(--color-lightgray);

    background-color: white;
    color: var(--color-gray);
    font-size: 18px;
    font-weight: bold;
}

#table .table-row {
    height: 60px;

    border-left: 4px solid var(--color-lightgray);
    border-right: 4px solid var(--color-lightgray);
}

#table .table-row:nth-child(2) {
    padding-top: 12px;
}

#table .table-row:last-child {
    border-bottom: 4px solid var(--color-lightgray);
}

#table .table-row:nth-child(2n) {
    background-color: var(--color-striped);
}

#table p {
    display: flex;
    align-items: center;
}

#table .table-row p {
    padding-left: 3px;
}

#table .table-row .settings {
    width: 24px;
    height: 24px;

    color: var(--color-gray);
}

#table .table-row .settings:hover {
    cursor: pointer;
}

@media (max-width: 1500px) {
    body {
        height: fit-content;
        margin-top: 128px;
        margin-bottom: 128px;
    }

    #container {
        flex-direction: column;
        gap: 64px;
    }

    #table {
        width: 80%;
        max-width: 1000px;
        height: fit-content;
    }
}
